<span class="temp_container section-inline">
<div class="topping">
<div class="customer-account-control text-right">
    <a class="customer-control-links">SIGN IN</a>
    <a class="customer-control-links"> SIGN UP</a>
</div>

 <!-- <div class="topping_stick" style="margin-top: 16px;">
<div class="container-fluid">      -->
<div class="row no-gutters align-content-center">
    <div class="col-4 col-lg-6 col-xl-6 align-self-center">
        <a href="/" class="row no-gutters align-content-center">
            <div class="col-xl-4 col-lg-5 align-self-center">
                <div class="topping__logo"><img itemprop="logo" src="/Themes/Entripy/Content/17/images/logo.svg"></div>
            </div>
            <div class="col-xl-8 col-lg-7 align-self-center d-none d-lg-flex">
                <div class="topping__logo-text">Custom T-Shirts | <span style="white-space: nowrap;">Uniforms | Swag</span><br><span style="font-size: 14px; text-align: center !important;">The Fastest, Most&nbsp;Trusted &amp; Largest In Canada</span></div>
            </div>
        </a>
    </div>
    <div class="col-8 col-lg-6 col-xl-6 align-self-center">
        <div class="row align-content-center">
            <div class="col-4 col-xl-5 align-self-center d-none d-lg-flex">
                <div id="fullscreen-search" class="topping__search">
                    <input readonly="" placeholder="Search" class="topping__search-input">
                    <input readonly="" value="" class="topping__search-submit">
                </div>
            </div>
            <div class="col-lg-8 col-xl-7 d-flex align-items-center text-right">
                <a href="/cart" class="topping__cart welcome-popover d-none d-lg-inline-block mt-lg-3 ml-auto"><span>0</span></a>
                <div class="d-none d-md-inline-block d-lg-none ml-auto align-self-center">
                    <a href="#">
                        <img src="/Content/Images/icon-youtube.svg" style="height: 40px">
                    </a>
                </div>
                <div class="d-none d-md-inline-block px-3 text-center align-self-center">
                    <a class="mb-lg-1 d-block" href="#">
                        <span class="d-inline-block">
                            <img class="img-fluid" src="#" style="height: 25px; margin-top:-4px;">
                        </span>
                        <span class="d-inline-block font-weight-bold" style="color: #214391;">24HR Rush Service</span>
                    </a>
                    <div>
                        <span class="d-inline-block font-weight-bold text-primary small">
                            <img class="d-inline-block img-responsive" src="/Content/Images/icon-phone-solid.svg" style="height: 16px;">
                            <span>1-866-368-7479</span>
                        </span>
                        <span class="d-inline-block font-weight-bold text-primary small">|</span>
                        <a href="#" class="d-inline-block font-weight-bold text-primary small" onclick="Intercom('show')">
                            <img class="d-inline-block img-responsive" src="/Content/Images/icon-chat-solid.svg" style="height: 16px;">
                            <span>Chat Now</span>
                        </a>
                    </div>
                </div>
                <div class="d-none d-lg-inline-block align-self-center">
                    <a href="/support/take-a-tour">
                        <img src="/Content/Images/icon-youtube.svg" style="height: 40px">
                    </a>
                </div>
                <div class="currency-container d-inline-block d-lg-none ml-auto ml-md-0">
                    <span class="d-lg-none currency-sign currency-sign-color-sm">$</span><img class="d-lg-none" src="/Content/Images/canada-flag.png">
                </div>
                <a href="/cart" class="topping__cart welcome-popover d-inline-block d-lg-none"><span>0</span></a>
                <div class="mobile-menu__ico d-lg-none"></div>
                
                
            </div>
        </div>
    </div>
</div>

<!-- </div>
</div> -->
<div class="topping__menu">
    <div class="row no-gutters align-content-center topping__menu-spec-height d-none d-lg-flex">
                <div class="col">
                    <a href="/chess" class="topping__menu-link">T-Shirts</a>
                </div>
                <div class="col">
                    <a href="/products/masks" class="topping__menu-link">Masks</a>
                </div>
                <div class="col">
                    <a href="/products/sweatshirts" class="topping__menu-link">Sweatshirts</a>
                </div>
                <div class="col">
                    <a href="/products/jackets-6" class="topping__menu-link">Jackets</a>
                </div>
                <div class="col">
                    <a href="/products/headwear" class="topping__menu-link">Hats</a>
                </div>

        <div class="col">
            <a href="#" class="topping__menu-link topping__drop-down-trigger" data-tabselector="#tab-products">More</a>
        </div>
                <div class="col">
                    <a href="#" class="topping__menu-link topping__drop-down-trigger" data-tabselector="#tab-5">Promo Items</a>
                </div>
                <div class="col">
                    <a href="/promotions/specials" class="topping__menu-link">Specials</a>
                </div>
                <div class="col">
                    <a href="/companyinfo/estores" class="topping__menu-link">eStores</a>
                </div>
                <div class="col">
                    <a href="/products/no-minimum" class="topping__menu-link" style="background-color: #fcee21; color:#224492">NO MINIMUM</a>
                </div>
                <div class="col">
                    <a href="/designer/product/817?colorId=7992" class="topping__menu-link" style="background-color: #0057a5; color:#ffffff">Design Now</a>
                </div>
    </div>
    <div class="row align-content-center d-lg-none">
        <div class="col align-self-center">
            <div class="topping__search mx-auto" id="mobile-search">
                <input readonly="" placeholder="Search" class="topping__search-input">
                <input readonly="" value="" class="topping__search-submit">
            </div>
        </div>
    </div>
</div>
</div>
</span>