<header> 

    <img   src="http://www.promotionpay.com/php/images/prompaylogo.gif" class="logo"  />
   <nav>
       <ul>
           <li><a href="/">Tshirts</a></li>
           <li><a href="/contactus">Contact Us</a></li>
           <li><a href="/chess">Play Chess!</a></li>
           
       </ul>
   </nav>
</header>