<header> 

    <img   src="public/img/prompaylogo.gif" class="logo"  />
   <nav>
       <ul>
           <li><a href="/">Product</a></li>
           <li><a href="/category">Category</a></li>
           <li><a href="/chess">Play Chess!</a></li>
           
       </ul>
   </nav>
</header>