<div class="temp-container" style="margin-top: 50px;">
    <div class="other-pages">
        <div class="container-fluid">
            <div class="header-h3">
                <h1 class="small-header-h2">Contact Us</h1>
            </div>
            <div class="op-contact-us">
                <div class="row">
                    <div class="col-12 col-md-12 contactus-topic">
                        <p>Have a question? We’re here to help! Please fill out our online inquiry form and someone will
                            get back to you within 45 minutes during office hours.</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="op-contact-us__block op-contact-us__block--pad">

                            <div class="op-contact-us__content">
                                <div class="op-contact-us__line">
                                    <div class="row">
                                        <div class="col-4 op-contact-us__line--st1">Phone</div>
                                        <div class="col-8 op-contact-us__line--st2">(905) 844-1291</div>
                                    </div>
                                </div>
                                <!--<div class="op-contact-us__line">
<div class="row">
<div class="col-4 op-contact-us__line--st1">Fax</div>
<div class="col-8 op-contact-us__line--st2">(905) 844-2836</div>
</div>
</div>-->
                                <div class="op-contact-us__line">
                                    <div class="row">
                                        <div class="col-4 op-contact-us__line--st1">Toronto</div>
                                        <div class="col-8 op-contact-us__line--st2">(416) 777-1291</div>
                                    </div>
                                </div>
                                <div class="op-contact-us__line">
                                    <div class="row">
                                        <div class="col-4 op-contact-us__line--st1">Toll Free</div>
                                        <div class="col-8 op-contact-us__line--st2">1-866-ENTRIPY (368-7479)</div>
                                    </div>
                                </div>
                                <div class="op-contact-us__line">
                                    <div class="row">
                                        <div class="col-4 op-contact-us__line--st1">E-mail</div>
                                        <div class="col-8 op-contact-us__line--st2">clientcare@entripy.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="op-contact-us__block op-contact-us__block--pad">

                            <div class="op-contact-us__content">
                                <div class="op-contact-us__line">
                                    <div class="op-contact-us__line--st1">
                                        <h2 class="small-header-contact-h2">You can find us at</h2>
                                    </div>
                                </div>
                                <div class="op-contact-us__line">
                                    <div class="op-contact-us__line--st2">2320 Bristol Circle, Unit 3.<br> Oakville,
                                        Ontario. L6H 5S3</div>
                                </div>
                                <div class="op-contact-us__line"><a id="see-on-map" class="op-contact-us__line--st3">See
                                        on map</a></div>
                                <div class="op-contact-us__line">
                                    <div class="op-contact-us__line--st4">* Closed on Weekends and Holidays</div>
                                </div>
                            </div>
                        </div>
                        <div class="op-contact-us__block op-contact-us__block--pad">

                            <div class="op-contact-us__content">
                                <div class="op-contact-us__line">
                                    <div class="op-contact-us__line--st1">
                                        <h2 class="small-header-contact-h2">Email, phone, live chat</h2>
                                    </div>
                                </div>
                                <div class="op-contact-us__line">
                                    <div class="row">
                                        <div class="col-5 op-contact-us__line--st5">Mon. - Fri.</div>
                                        <div class="col-7 op-contact-us__line--st2">8:30 AM to 6:00 PM EST</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 op-contact-us__line--st5">Sat.</div>
                                        <div class="col-7 op-contact-us__line--st2">10:00 AM to 2:00 PM EST</div>
                                    </div>
                                </div>
                                <div class="op-contact-us__line">
                                    <div class="op-contact-us__line--st1">Office hours for Dockside pick-ups<br><span
                                            style="color: red;">Pickup after order complete email is received</span>
                                    </div>
                                </div>
                                <div class="op-contact-us__line">
                                    <div class="row">
                                        <div class="col-5 op-contact-us__line--st5">Mon. - Fri.</div>
                                        <div class="col-7 op-contact-us__line--st2">9:00 AM to 4:00 PM EST</div>
                                    </div>
                                </div>
                                <div class="op-contact-us__line">
                                    <div class="op-contact-us__line--st4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="contact-email">
                        <div class="op-contact-us__block op-contact-us__block--height">
                            <form  id='contact' action="submit"  novalidate="novalidate">
                                <div class="op-contact-us__line--st6">Have a question? We’re here to help!</div>
                                <div class="peracc__my-addrs2-line peracc__my-addrs2-line--active">
                                    <input class="peracc__my-addrs2-input" data-val="true" required
                                        data-val-required="Enter your name" id="FullName" name="FullName"
                                        placeholder="Your Name *" type="text" value="">
                                    <div class="peracc__my-addrs2-line--placeholder">Your Name *</div>
                                    <span class="field-validation-valid" data-valmsg-for="FullName"
                                        data-valmsg-replace="true"></span>
                                </div>
                                <div class="peracc__my-addrs2-line peracc__my-addrs2-line--active">
                                    <input class="peracc__my-addrs2-input" data-val="true" data-val-email="Wrong email"
                                        data-val-required="Enter email" id="Email" name="Email"
                                        placeholder="Your Email *" type="email" value="" required >
                                    <div class="peracc__my-addrs2-line--placeholder">Your Email *</div>
                                    <span class="field-validation-valid" data-valmsg-for="Email" 
                                        data-valmsg-replace="true"></span>
                                </div>
                                <div class="peracc__my-addrs2-line peracc__my-addrs2-line--active">
                                    <input class="peracc__my-addrs2-input" id="PhoneNumber" name="PhoneNumber"
                                        placeholder="Your Phone" type="text" value="">
                                    <div class="peracc__my-addrs2-line--placeholder">Your Phone</div>
                                    <span class="field-validation-valid" data-valmsg-for="PhoneNumber"
                                        data-valmsg-replace="true"></span>
                                </div>
                         
                                <div class="peracc__my-addrs2-line addrs-line-no-margin-bottom">
                                    <div class="op-contact-us__line--st7">Your Message *</div>
                                    <textarea class="op-contact-us__textarea" cols="20" data-val="true"
                                        data-val-required="Enter enquiry" id="Inquiry" name="Inquiry"
                                        rows="2"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="Inquiry"
                                        data-valmsg-replace="true"></span>
                                </div>
                                <div class="row"
                                    style="border:3px solid #183AB2;margin-left:0px;margin-right:0px; margin-bottom:25px;">
                                    <div class="col-12" id="icon-col"
                                        style="background-color:#183AB2;color:white;font-family:Oswald;font-weight:700;display:flex;align-items:center;">
                                        <img style="width:70px;height:70px;padding:10px;"
                                            src="https://www.entripy.com/Content/Images/80_entripy.png">
                                        <span style="line-height:1;margin: 0 auto;">
                                            Get 10% Off Your First Order
                                        </span>
                                    </div>

                                    <div class="col-12 "
                                        style="padding-top:10px;padding-bottom:10px;display:flex;align-items:center;">
                                        <input class="filter__drop - input checkSubscribtionNews" data-val="true"
                                            data-val-required="'Is Newsletter Enabled' must not be empty."
                                            id="IsNewsletterEnabled" name="IsNewsletterEnabled" type="checkbox"
                                            value="true"><input name="IsNewsletterEnabled" type="hidden" value="false">
                                        <label class="filter__drop-label filter__drop-label--more-text"
                                            for="IsNewsletterEnabled">I wish to subscribe to the Entripy
                                            Newsletter</label>
                                    </div>
                                </div>
                                <div>

                                </div>
                                <div id="attachment-list">
                                    <div id="uploaded-file-header" style="display:none;" class="contactus-label">
                                        Uploaded files</div>
                                </div>
                                <div class="captcha-box">
                                    <span id="recaptcha">
                                        <script src="https://www.google.com/recaptcha/api.js" async="" defer="">

                                        </script>
                                        <div class="g-recaptcha" data-sitekey="6LcL8RsTAAAAALdcKI8lO9KlJ1S1swDykm6d90Hu"
                                            data-theme="light">
                                            <div style="width: 304px; height: 78px;">
                                                <div><iframe
                                                        src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LcL8RsTAAAAALdcKI8lO9KlJ1S1swDykm6d90Hu&amp;co=aHR0cHM6Ly93d3cuZW50cmlweS5jb206NDQz&amp;hl=en&amp;v=a7xT2d71Jli62wQMfeUUrLcO&amp;theme=light&amp;size=normal&amp;cb=3y0th89s491"
                                                        width="304" height="78" role="presentation"
                                                        name="a-3s01vph8va58" frameborder="0" scrolling="no"
                                                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                                </div><textarea id="g-recaptcha-response-1" name="g-recaptcha-response"
                                                    class="g-recaptcha-response"
                                                    style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                            </div><iframe style="display: none;"></iframe>
                                        </div><noscript>
                                            <div style="width:302px;height:352px;">
                                                <div style="width:302px;height:352px;position:relative;">
                                                    <div style="width:302px;height:352px;position:absolute;">
                                                        <iframe
                                                            src="https://www.google.com/recaptcha/api/fallback?k=6LcL8RsTAAAAALdcKI8lO9KlJ1S1swDykm6d90Hu"
                                                            frameborder="0" scrolling="no"
                                                            style="width:302px;height:352px;border-style:none;">

                                                        </iframe>
                                                    </div>
                                                    <div
                                                        style="width:250px;height:80px;position:absolute;border-style:none;bottom:21px;left:25px;margin:0px;padding:0px;right:25px;">
                                                        <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                                            class="g-recaptcha-response" value=""
                                                            style="width:250px;height:80px;border:1px solid #c1c1c1;margin:0px;padding:0px;resize:none;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </noscript>
                                    </span>
                                </div>
                                <div class="op-contact-us__fin-line">
                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            <div id="file-uploader">
                                                <div class="qq-uploader">
                                                    <div class="qq-upload-drop-area" style="display: none;"><span>Drop
                                                            files here to upload</span></div>
                                                    <div class="qq-upload-button"
                                                        style="position: relative; overflow: hidden; direction: ltr;">
                                                        <div class="qq-upload-text"><a
                                                                class="op-contact-us__attach"><img
                                                                    src="https://www.entripy.com/Themes/Entripy/Content/17/images/test-product-img/need-ico.png">Attach
                                                                file</a></div><input type="file" name="file"
                                                            title="Upload image"
                                                            style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                                                    </div>
                                                    <ul class="qq-upload-list"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <input class="standart-button standart-button--color2" type="submit"
                                                name="send-email" value="Send">
                                        </div>
                                    </div>
                                </div>
                                <input id="selectedCustomerClass" name="SelectedCustomerClass" type="hidden"
                                    value="Business">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(e){
        $('#contact').on('submit',function(e){
            e.preventDefault();
            $(this).validate({
                
    rules: {
      FullName : {
        required: true,
        minlength: 3
      },
      Email: {
        required: true,
        email: true,
        
      },
      Inquiry:{
          required:true,
          minlength:20,
      }

    },
    messages : {
      FullName: {
        minlength: "Name should be at least 3 characters"
      },
   
      email: {
        email: "The email should be in the format: abc@domain.tld"
      },
     
    },
    Inquiry:{
        minlength:"Message should be at least 20 char"
    }
            });
            console.log($(this).serialize(),'Hi');
        })
    })
</script>