<div class="temp-container">
    <div class="tabs-slider" style="overflow: visible; height: 100%;">
        <div class="tabs-slider__content">
            <div class="tabs-slider__item" style="display: block; opacity: 1;">
                <!--<img src="/images/TopicPagePics/Custom_clothing_Business.jpg" class="center_magic" />
<div class="row align-content-center justify-content-center">
<div class="col-lg-6 align-self-center">
<div class="tabs-slider__item-text">
<h2 id="business_header" style="color: white; font-weight: bold;">Design Custom Apparel That Gets Your Company Noticed</h2>
</div>
</div>
</div>-->
<img src="https://entripyprodstorage.blob.core.windows.net/en-topics/ea8dfa9a-f57d-481a-b34d-f2cd0899b42e-october-23-26-banner-min.jpg" class="center-magic">

        </div>
    </div>

    <!-- delivery and shipping section -->

                    
         


    <div id="HomePagePopularProducts">
<form action="/" id="__AjaxAntiForgeryForm" method="post" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="VHrliV6q23n3i61Mn2ped_9vMDPnkx_EGjV0w0ZVU6EXaTbKEio2aRxurkfL8ZZrGfPsV_d5sLAo02DLNGi8RoRszlcjru6RBCyVKmhKUfQ1"></form>            
    
<div class="block6 same-content">
<div class="container-fluid">
    <div class="header-h1" >
        <h2>Top Trending Products</h2>
    </div>
    <div class="header-text">
        <p>These products are our current best sellers and have rave reviews from our customers. We think you'll like them too.</p>
    </div>

    <div class="row d-md-flex" style="height: 800px;">
<div class="col-xl-3 col-sm-6" style="margin-bottom:30px;">
<div class="product product-card same-content__item product-card--no-button" data-productid="812" style="height: 1497.5px;">
    <a href="/products/sp12-knit-12-tuque " class="link product-card__name">
        <div class="product-card__img product-image-no-ribbon">
            <img data-src="https://api.reveri.io/api/image/0e57810b-88b1-41a2-9b99-323b0257bde0?size=Medium" class="center_magic" src="https://api.reveri.io/api/image/0e57810b-88b1-41a2-9b99-323b0257bde0?size=Medium">
        </div>
        <div>Sportsman Knit 12 Toque</div>
        </a><div style="width:100%; display:inline-block; margin-top:10px;"><a href="/products/sp12-knit-12-tuque " class="link product-card__name">
            <div class="product-card__art" style="width: 20%; margin-right:0px; display:inline-block; float:left;">SP12</div>
            <!-- TrustBox widget - Product Mini -->
            </a><div class="trustpilot-widget" data-locale="en-US" style="width:230px !important; display:inline-block; float:right; margin-left:0px;" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="59c507390000ff0005abc7a8" data-style-height="25px" data-style-width="230px" data-theme="light" data-sku="SP12"><a href="/products/sp12-knit-12-tuque " class="link product-card__name">
                </a><a href="https://www.trustpilot.com/review/entripy.com" target="_blank">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
        </div>
    
    <div class="row no-gutters align-content-start justify-content-between product-card__pad--min product-info">

        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <div id="priceContainer-812" class="product-card__price discounted-product">
                
                <span id="fromRange-812" class="char-spacing">$19.31</span> ea. for 6 - <span id="toRange-812" class="char-spacing">$7.31</span> ea. for 2500
            </div>
           
            <div id="originalPriceContainer-812" class="product-card__price discounted-product-original-price">
$21.46 ea. for 6 - $8.12 ea. for 2500                </div>
            

            <div class="product-card__price-text">
based on Embroidery on Front                </div>
        </div>
    </div>
    <div class="row no-gutters align-content-end justify-content-sm-between justify-content-start product-card__pad--min2">
        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <span class="product-card__text">Available Sizes:</span>
            <span class="product-card__size">
                <span>OS</span>
                <span>-</span>
                <span>OS</span>
            </span>
        </div>
    </div>
    <div class="row no-gutters justify-content-start product-card__color-block">

            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"  data-productpicture="https://api.reveri.io/api/image/3183ad90-95cd-4be0-9c12-d6c27a3a7e8f?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="7888" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#4C2613" title="Brown"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"   data-productpicture="https://api.reveri.io/api/image/8d06a66a-9d3e-4a62-a65c-e382196e6e5f?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="7894" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#D60024" title="Red"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"  data-productpicture="https://api.reveri.io/api/image/0e57810b-88b1-41a2-9b99-323b0257bde0?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="7895" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#0033AB" title="Royal"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"  data-productpicture="https://api.reveri.io/api/image/59b9de8f-a19f-4374-8c97-aa2711b7f581?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="7896" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#dbf72b" title="Safety Yellow"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"  data-productpicture="https://api.reveri.io/api/image/17694e99-2209-4eb6-8a14-d5da950b82fd?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="7897" data-minqty="6" data-maxqty="2500" class="bright-color colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#FFFFFF" title="White"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"  data-productpicture="https://api.reveri.io/api/image/2973d21e-7137-439a-8c7b-de0a8392f651?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="26715" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#F04A36" title="Blaze Orange"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"   data-productpicture="https://api.reveri.io/api/image/258f2d78-edfe-462e-bace-0d2f479a2cdd?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="26716" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#1D312C" title="Forest"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div   id="colorval"  data-productpicture="https://api.reveri.io/api/image/05d7b51e-bf67-4edd-b130-260cdbb29358?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="36792" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#4f4f4f" title="Charcoal"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"   data-productpicture="https://api.reveri.io/api/image/3a7121a9-b095-438b-8c4e-a5db7e2cb79e?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="36796" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#000000" title="Black"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"   data-productpicture="https://api.reveri.io/api/image/4ecc1a38-273b-4b42-a9f5-c4923c74a450?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="42322" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#bfbfbf" title="Heather Grey"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"   data-productpicture="https://api.reveri.io/api/image/3d45670d-f42a-4928-b2ff-10c78b6bf69b?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="42323" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#565F7B" title="Heather Navy"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"  data-productpicture="https://api.reveri.io/api/image/d143da03-05a7-4011-b82e-1c006e788745?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="42324" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#6487D2" title="Heather Royal"></div>
            </div> 
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"  data-productpicture="https://api.reveri.io/api/image/311eb0ce-9fcb-43e4-921e-b80fbc01ab50?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="812" data-colorid="43426" data-minqty="6" data-maxqty="2500" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#242a38" title="Navy"></div>
            </div>
                </div>
</div>
</div>
<div class="col-xl-3 col-sm-6" style="margin-bottom:30px;">
<div class="product product-card same-content__item product-card--no-button" data-productid="3581" style="height: 1497.5px;">
    <a href="/products/stormtech-mens-vortex-hd-3-in-1-system-parka " class="link product-card__name">
        <div class="product-card__img product-image-no-ribbon">
            <img data-src="https://api.reveri.io/api/image/202705af-1939-42f8-8d77-9c5f24245f2d?size=Medium" class="center_magic" src="https://api.reveri.io/api/image/202705af-1939-42f8-8d77-9c5f24245f2d?size=Medium">
        </div>
        <div>Stormtech Men's Vortex HD 3-In-1 System Parka</div>
        </a><div style="width:100%; display:inline-block; margin-top:10px;"><a href="/products/stormtech-mens-vortex-hd-3-in-1-system-parka " class="link product-card__name">
            <div class="product-card__art" style="width: 20%; margin-right:0px; display:inline-block; float:left;">EM3XPT</div>
            <!-- TrustBox widget - Product Mini -->
            </a><div class="trustpilot-widget" data-locale="en-US" style="width:230px !important; display:inline-block; float:right; margin-left:0px;" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="59c507390000ff0005abc7a8" data-style-height="25px" data-style-width="230px" data-theme="light" data-sku="EM3XPT"><a href="/products/stormtech-mens-vortex-hd-3-in-1-system-parka " class="link product-card__name">
                </a><a href="https://www.trustpilot.com/review/entripy.com" target="_blank">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
        </div>
    
    <div class="row no-gutters align-content-start justify-content-between product-card__pad--min product-info">

        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <div id="priceContainer-3581" class="product-card__price discounted-product">
                
                <span id="fromRange-3581" class="char-spacing">$251.52</span> ea. for 1 - <span id="toRange-3581" class="char-spacing">$133.81</span> ea. for 250
            </div>
           
            <div id="originalPriceContainer-3581" class="product-card__price discounted-product-original-price">
$295.90 ea. for 1 - $157.42 ea. for 250                </div>
            

            <div class="product-card__price-text">
based on Embroidery on Left Chest                </div>
        </div>
    </div>
    <div class="row no-gutters align-content-end justify-content-sm-between justify-content-start product-card__pad--min2">
        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <span class="product-card__text">Available Sizes:</span>
            <span class="product-card__size">
                <span>S</span>
                <span>-</span>
                <span>3XL</span>
            </span>
        </div>
    </div>
    <div class="row no-gutters justify-content-start product-card__color-block">

            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"    data-productpicture="https://api.reveri.io/api/image/dc1a8ad0-c445-4231-ae8f-058b26546447?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="3581" data-colorid="30272" data-minqty="1" data-maxqty="250" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#1A1A1A" title="Black"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"   data-productpicture="https://api.reveri.io/api/image/8d4ab418-05b3-45ed-b8de-fbf0c04d4af9?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="3581" data-colorid="30273" data-minqty="1" data-maxqty="250" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#4F4F4F" title="Granite"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"   data-productpicture="https://api.reveri.io/api/image/3e05ee28-b1f0-4568-87f5-22bafa2d4eb7?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="3581" data-colorid="30274" data-minqty="1" data-maxqty="250" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#1E1E26" title="Navy"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"   data-productpicture="https://api.reveri.io/api/image/202705af-1939-42f8-8d77-9c5f24245f2d?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="3581" data-colorid="30275" data-minqty="1" data-maxqty="250" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#D62734" title="Red"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"   data-productpicture="https://api.reveri.io/api/image/175bbdeb-2709-4eea-95d9-e7122e3ceb6c?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="3581" data-colorid="36747" data-minqty="1" data-maxqty="250" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#26629F" title="Marine Blue"></div>
            </div>
                </div>
</div>
</div>
<div class="col-xl-3 col-sm-6" style="margin-bottom:30px;">
<div class="product product-card same-content__item product-card--no-button" data-productid="4223" style="height: 1497.5px;">
    <a href="/products/core365-mens-techno-lite-three-layer-knit-tech-shell " class="link product-card__name">
        <div class="product-card__img product-image-no-ribbon">
            <img data-src="https://api.reveri.io/api/image/fb74af05-6c0e-4fd5-9faa-72f95c466dc2?size=Medium" class="center_magic" src="https://api.reveri.io/api/image/fb74af05-6c0e-4fd5-9faa-72f95c466dc2?size=Medium">
        </div>
        <div>CORE365 Men's Techno Lite Three-Layer Knit Tech-Shell</div>
        </a><div style="width:100%; display:inline-block; margin-top:10px;"><a href="/products/core365-mens-techno-lite-three-layer-knit-tech-shell " class="link product-card__name">
            <div class="product-card__art" style="width: 20%; margin-right:0px; display:inline-block; float:left;">CE708</div>
            <!-- TrustBox widget - Product Mini -->
            </a><div class="trustpilot-widget" data-locale="en-US" style="width:230px !important; display:inline-block; float:right; margin-left:0px;" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="59c507390000ff0005abc7a8" data-style-height="25px" data-style-width="230px" data-theme="light" data-sku="CE708"><a href="/products/core365-mens-techno-lite-three-layer-knit-tech-shell " class="link product-card__name">
                </a><a href="https://www.trustpilot.com/review/entripy.com" target="_blank">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
        </div>
    
    <div class="row no-gutters align-content-start justify-content-between product-card__pad--min product-info">

        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <div id="priceContainer-4223" class="product-card__price discounted-product">
                
                <span id="fromRange-4223" class="char-spacing">$44.82</span> ea. for 6 - <span id="toRange-4223" class="char-spacing">$32.47</span> ea. for 288
            </div>
           
            <div id="originalPriceContainer-4223" class="product-card__price discounted-product-original-price">
$68.95 ea. for 6 - $49.95 ea. for 288                </div>
            

            <div class="product-card__price-text">
based on Embroidery on Left Chest                </div>
        </div>
    </div>
    <div class="row no-gutters align-content-end justify-content-sm-between justify-content-start product-card__pad--min2">
        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <span class="product-card__text">Available Sizes:</span>
            <span class="product-card__size">
                <span>S</span>
                <span>-</span>
                <span>5XL</span>
            </span>
        </div>
    </div>
    <div class="row no-gutters justify-content-start product-card__color-block">

            <div class="col-auto color-wrapper-card ">
                <div id="colorval" data-productpicture="https://api.reveri.io/api/image/fb74af05-6c0e-4fd5-9faa-72f95c466dc2?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4223" data-colorid="39601" data-minqty="6" data-maxqty="288" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#333238" title="Black"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"  data-productpicture="https://api.reveri.io/api/image/2888d920-18dd-4e2d-8cea-5b489fcde634?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4223" data-colorid="39602" data-minqty="6" data-maxqty="288" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#575C60" title="Carbon"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"  data-productpicture="https://api.reveri.io/api/image/6bc12a42-26d4-4334-9fdc-a273730e4e4a?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4223" data-colorid="39603" data-minqty="6" data-maxqty="288" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#3F4368" title="Classic Navy"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"  data-productpicture="https://api.reveri.io/api/image/a2750db4-b653-47ff-b7d7-cd6ef5328182?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4223" data-colorid="39604" data-minqty="6" data-maxqty="288" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#DA2546" title="Classic Red"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"  data-productpicture="https://api.reveri.io/api/image/6f76bde8-84f3-435c-a426-b31d4d47f64d?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4223" data-colorid="39605" data-minqty="6" data-maxqty="288" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#197CE4" title="True Royal"></div>
            </div>
                </div>
</div>
</div>
<div class="col-xl-3 col-sm-6" style="margin-bottom:30px;">
<div class="product product-card same-content__item product-card--no-button" data-productid="4604" style="height: 1497.5px;">
    <a href="/products/independent-adult-midweight-crewneck-sweatshirt " class="link product-card__name">
        <div class="product-card__img product-image-no-ribbon">
            <img data-src="https://api.reveri.io/api/image/fb022b20-1fa1-4bc7-b33b-355231ce410f?size=Medium" class="center_magic" src="https://api.reveri.io/api/image/fb022b20-1fa1-4bc7-b33b-355231ce410f?size=Medium">
        </div>
        <div>Independent Adult Midweight Crewneck Sweatshirt</div>
        </a><div style="width:100%; display:inline-block; margin-top:10px;"><a href="/products/independent-adult-midweight-crewneck-sweatshirt " class="link product-card__name">
            <div class="product-card__art" style="width: 20%; margin-right:0px; display:inline-block; float:left;">SS3000</div>
            <!-- TrustBox widget - Product Mini -->
            </a><div class="trustpilot-widget" data-locale="en-US" style="width:230px !important; display:inline-block; float:right; margin-left:0px;" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="59c507390000ff0005abc7a8" data-style-height="25px" data-style-width="230px" data-theme="light" data-sku="SS3000"><a href="/products/independent-adult-midweight-crewneck-sweatshirt " class="link product-card__name">
                </a><a href="https://www.trustpilot.com/review/entripy.com" target="_blank">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
        </div>
    
    <div class="row no-gutters align-content-start justify-content-between product-card__pad--min product-info">

        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <div id="priceContainer-4604" class="product-card__price discounted-product">
                
                <span id="fromRange-4604" class="char-spacing">$58.40</span> ea. for 1 - <span id="toRange-4604" class="char-spacing">$19.62</span> ea. for 1000
            </div>
           
            <div id="originalPriceContainer-4604" class="product-card__price discounted-product-original-price">
$64.89 ea. for 1 - $21.80 ea. for 1000                </div>
            

            <div class="product-card__price-text">
based on a 1-colour Print on Front                </div>
        </div>
    </div>
    <div class="row no-gutters align-content-end justify-content-sm-between justify-content-start product-card__pad--min2">
        <div class="col-auto align-self-start text-sm-right text-right" style="width:100%;">
            <span class="product-card__text">Available Sizes:</span>
            <span class="product-card__size">
                <span>S</span>
                <span>-</span>
                <span>3XL</span>
            </span>
        </div>
    </div>
    <div class="row no-gutters justify-content-start product-card__color-block">

            <div class="col-auto color-wrapper-card ">
                <div id="colorval"   data-productpicture="https://api.reveri.io/api/image/e2bf1e81-8934-4734-9706-e204d588ecd1?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43219" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#415c38" title="Army Heather"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"   data-productpicture="https://api.reveri.io/api/image/1503ff55-0d9d-4615-914e-bac8c36db6b2?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43220" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#000000" title="Black"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"    data-productpicture="https://api.reveri.io/api/image/93a216fd-2226-4021-8495-814831ad0a2c?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43221" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#3b3b3b" title="Charcoal Heather"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"    data-productpicture="https://api.reveri.io/api/image/aa925432-3e64-4b84-8585-ecc8743c285b?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43222" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#303b50" title="Classic Navy"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div   id="colorval"   data-productpicture="https://api.reveri.io/api/image/bd6a5795-2072-4730-94e5-23fc30f8782d?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43223" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#58672d" title="Forest Camouflage"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"    data-productpicture="https://api.reveri.io/api/image/132d7070-0c4d-426b-b624-b63bcc36d03b?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43224" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#b8b8b8" title="Gunmetal Heather"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div data-productpicture="https://api.reveri.io/api/image/c655cd12-c167-4be2-8889-0c046b4a5389?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43225" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#60344a" title="Maroon"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div  id="colorval"    data-productpicture="https://api.reveri.io/api/image/ed057f6a-35b2-48b4-b2a7-6fb3010fc060?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43226" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#f91a1a" title="Red"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"    data-productpicture="https://api.reveri.io/api/image/fb022b20-1fa1-4bc7-b33b-355231ce410f?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43227" data-minqty="1" data-maxqty="1000" class="colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#234f86" title="Royal Heather"></div>
            </div>
            <div class="col-auto color-wrapper-card ">
                <div id="colorval"    data-productpicture="https://api.reveri.io/api/image/981af44a-032b-4dce-ad7b-0338a0b7c7ca?size=Medium" data-linkedtospec="[]" data-url="/Catalog/CalculatePriceByColour" data-productid="4604" data-colorid="43228" data-minqty="1" data-maxqty="1000" class="bright-color colour dynamic-color product-card__color product-card__color--color1 " style="background-color:#ffffff" title="White"></div>
            </div>
                </div>
</div>
</div>
    </div>
</div>
</div>

<div class="special__mobile d-md-none">
<div class="swiper-container swiper__why swiper-container-horizontal">
<div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-32px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="3" style="width: 2px; margin-right: 30px;">
<div class="info-card same-content__item air-logo" style="height: 712px;">
<div class="mini-card__round" style="border: none;">
<div class="row align-content-center">
<div class="col align-self-center"><img class="lazy" data-src="/images/TopicPagePics/air-miles.png"></div>
</div>
</div>
<div class="info-card__header">AIR MILES速 Reward Miles</div>
<div class="info-card__text">Get Miles on every purchase. Learn more about our <a href="https://www.entripy.com/promotions/air-miles">AIR MILES速 Reward Program</a><br><br></div>
<div class="info-card__text" style="font-size: 11px;">Trademarks of AM Royalties Limited. Partnership used under license by LoyaltyOne, Co. and Entripy Custom Clothing Inc.</div>
</div>
</div>
<div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 2px; margin-right: 30px;">
<div class="info-card same-content__item" style="height: 712px;">
<div class="mini-card__round">
<div class="row align-content-center">
<div class="col align-self-center"><img class="" data-src="/images/TopicPagePics/Pay_Only_After_Approved.svg" src="/images/TopicPagePics/Pay_Only_After_Approved.svg"></div>
</div>
</div>
<div class="info-card__header">All-Inclusive Pricing</div>
<div class="info-card__text">Lowest price guaranteed! No art charges or setup fees.</div>
</div>
</div>
<div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 2px; margin-right: 30px;">
<div class="info-card same-content__item air-logo" style="height: 712px;">
<div class="mini-card__round">
<div class="row align-content-center">
<div class="col align-self-center"><img style="width: 103px; margin-left: -1px;" class="lazy" data-src="/images/TopicPagePics/Proudly_Canadian_Stamp.png"></div>
</div>
</div>
<div class="info-card__header">Proudly Canadian</div>
<div class="info-card__text">Owned, operated and decorated in Canada</div>
</div>
</div>
<div class="swiper-slide" data-swiper-slide-index="2" style="width: 2px; margin-right: 30px;">
<div class="info-card same-content__item" style="height: 712px;">
<div class="mini-card__round">
<div class="row align-content-center">
<div class="col align-self-center bigImage"><img class="lazy" data-src="/Themes/Entripy/Content/17/images/blocks-ico5.svg"></div>
</div>
</div>
<div class="info-card__header">5 Day Guarantee</div>
<div class="info-card__text">We guarantee that your order will be completed and shipped in 5 business days. There may be delivery delays, <a href="/companyinfo/Covid-19-Impact">read more</a>.<br> <a href="/support/serviceLevels">See all service levels</a></div>
</div>
</div>
<div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="width: 2px; margin-right: 30px;">
<div class="info-card same-content__item air-logo" style="height: 712px;">
<div class="mini-card__round" style="border: none;">
<div class="row align-content-center">
<div class="col align-self-center"><img class="lazy" data-src="/images/TopicPagePics/air-miles.png"></div>
</div>
</div>
<div class="info-card__header">AIR MILES速 Reward Miles</div>
<div class="info-card__text">Get Miles on every purchase. Learn more about our <a href="https://www.entripy.com/promotions/air-miles">AIR MILES速 Reward Program</a><br><br></div>
<div class="info-card__text" style="font-size: 11px;">Trademarks of AM Royalties Limited. Partnership used under license by LoyaltyOne, Co. and Entripy Custom Clothing Inc.</div>
</div>
</div>
<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 2px; margin-right: 30px;">
<div class="info-card same-content__item" style="height: 712px;">
<div class="mini-card__round">
<div class="row align-content-center">
<div class="col align-self-center"><img class="lazy" data-src="/images/TopicPagePics/Pay_Only_After_Approved.svg"></div>
</div>
</div>
<div class="info-card__header">All-Inclusive Pricing</div>
<div class="info-card__text">Lowest price guaranteed! No art charges or setup fees.</div>
</div>
</div></div>
</div>
<div class="swiper-pagination swiper__why-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
    </div>

    <div id="HomePageCategories">
        
<div class="block4">
<div class="container-fluid">
    <div class="header-h1">
        <h2>Shop By Products</h2>
    </div>
    <div class="row">

            <div class="col-md-6">
                <a href="/products/t-shirts" class="main-cat__item main-cat__item--color2">
                    <img class="center-magic" data-src="https://www.entripy.com/content/images/thumbs/0040413_t-shirts.jpeg" src="https://www.entripy.com/content/images/thumbs/0040413_t-shirts.jpeg">
                    <span class="main-cat__item-name main-cat__item-name--big">
                        <span class="row align-content-center">
                            <span class="col align-self-center">T-Shirts</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/products/sweatshirts" class="main-cat__item main-cat__item--color1">
                    <img class="center-magic" data-src="https://www.entripy.com/content/images/thumbs/0040414_sweatshirts-hoodies.jpeg" src="https://www.entripy.com/content/images/thumbs/0040414_sweatshirts-hoodies.jpeg">
                    <span class="main-cat__item-name main-cat__item-name--big">
                        <span class="row align-content-center">
                            <span class="col align-self-center">Sweatshirts &amp; Hoodies</span>
                        </span>
                    </span>
                </a>
            </div>
                        <div class="col-xl-3 col-md-6">
                <a href="/products/golf-shirts" class="main-cat__item main-cat__item--mini">
                    <img class="center-magic" data-src="https://www.entripy.com/content/images/thumbs/0040417_golf-shirts-polos_550.jpeg" src="https://www.entripy.com/content/images/thumbs/0040417_golf-shirts-polos_550.jpeg">
                    <span class="main-cat__item-name">
                        <span class="row align-content-center">
                            <span class="col align-self-center">Golf Shirts &amp; Polos</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="/products/headwear" class="main-cat__item main-cat__item--mini">
                    <img class="center-magic" data-src="https://www.entripy.com/content/images/thumbs/0040415_hats-caps-toques_550.jpeg" src="https://www.entripy.com/content/images/thumbs/0040415_hats-caps-toques_550.jpeg">
                    <span class="main-cat__item-name">
                        <span class="row align-content-center">
                            <span class="col align-self-center">Hats, Caps &amp; Toques</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="/products/jackets-6" class="main-cat__item main-cat__item--mini">
                    <img class="center-magic" data-src="https://www.entripy.com/content/images/thumbs/0040416_jackets_550.jpeg" src="https://www.entripy.com/content/images/thumbs/0040416_jackets_550.jpeg">
                    <span class="main-cat__item-name">
                        <span class="row align-content-center">
                            <span class="col align-self-center">Jackets</span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="/products/athleticwear" class="main-cat__item main-cat__item--mini">
                    <img class="center-magic" data-src="https://www.entripy.com/content/images/thumbs/0039471_team-wear_550.jpeg" src="https://www.entripy.com/content/images/thumbs/0039471_team-wear_550.jpeg">
                    <span class="main-cat__item-name">
                        <span class="row align-content-center">
                            <span class="col align-self-center">Team Wear</span>
                        </span>
                    </span>
                </a>
            </div>
    </div>
</div>
</div>

    </div>

    <div class="block1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- TrustBox widget - Carousel -->
                    <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="59c507390000ff0005abc7a8" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="4,5" data-schema-type="Organization">
                        <a href="https://www.trustpilot.com/review/entripy.com" target="_blank">Trustpilot</a>
                    </div>
                    <!-- End TrustBox widget -->
                </div>
            </div>
        </div>
    </div>

   
    </div>
</div>
</div>
    </div>
    <script>
    $(document).ready(function(){
        console.log('hi');
    let  a = document.getElementsByClassName(' dynamic-color product-card__color product-card__color--color1')[0];
    console.log(a);
    // console.log(a.data("productpicture"));
    $('[id="colorval"]').click(function(e) {
        // alert('warning');
        console.log('hi');
   var t = $(this).data("productpicture"),
     e = $(this).parent("div.color-wrapper-card").parent(".product-card__color-block").siblings(".product-card__name").find(".product-card__img img"),
     i = $(this).parent("div.color-wrapper-card").parent(".product-card__color-block").siblings(".product-card__name").find(".ribbon-wrapper .product-card__img img");
   $(e).attr("src", t), $(i).attr("src", t), $(e).attr("data-src", t), $(i).attr("data-src", t)
   });
     });

     </script>