<header> 

    <img   src="" class="logo"  />
   <nav>
       <ul>
           <li><a href="/">Product</a></li>
           <li><a href="/Category">Category</a></li>
           
       </ul>
   </nav>
</header>