<header> 

    <img   src="" class="logo"  />
   <nav>
       <ul>
           <li><a href="/">Tshirts</a></li>
           <li><a href="/contactus">Contact Us</a></li>
           
       </ul>
   </nav>
</header>